{% extends "base.html" %}
{% block content %}
<div class="panel">
    <h2>Groups</h2>
    <a class="button" href="/admin/groups/new">New Group</a>
    <table>
        <thead>
            <tr>
                <th>Group #</th>
                <th>Name</th>
                <th>Building</th>
                <th>Floor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for g in groups %}
            <tr>
                <td>{{ g.group_number }}</td>
                <td>{{ g.name }}</td>
                <td>{{ g.building or '' }}</td>
                <td>{{ g.floor or '' }}</td>
                <td>
                    <a class="button" href="/admin/groups/{{ g.id }}/edit">Edit</a>
                    <form class="inline" method="post" action="/admin/groups/{{ g.id }}/delete">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
